body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, input, textarea, select, button {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

ul, ol, dl {
  list-style: none; }

img {
  vertical-align: middle;
  border: 0; }

body {
  font-size: 12px;
  width: 100%;
  overflow-x: hidden; }

input {
  outline: none; }

input[type="button"], input[type="submit"], input[type="file"], input[type="text"], input[type="radio"], button {
  cursor: pointer; }

.cl:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  visibility: hidden; }

.cl {
  zoom: 1; }

.goodsMinute {
  width: 100%;
  position: relative; }

.minute {
  width: 100%; }

.minute_top {
  width: 990px;
  overflow: hidden;
  margin: 30px auto; }

.minute_top_left {
  float: left;
  width: 447px;
  height: 500px; }

.minute_a_img {
  display: block;
  border: 1px solid #f0f0f0;
  width: 430px;
  height: 430px;
  position: relative; }

.minute_a_img .mark_box {
  width: 430px;
  height: 430px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10; }

.minute_a_img .position_box {
  width: 75px;
  height: 75px;
  background: #b6b6b6;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none; }

#b_box {
  width: 550px;
  height: 550px;
  overflow: hidden;
  position: relative;
  left: 444px;
  top: -430px;
  background-color: red;
  display: none; }

#b_box_all {
  position: absolute;
  width: 1200px;
  height: 900px;
  left: 0; }

.minute_a_img img {
  width: 100%;
  height: 100%; }

.minute_top_ul {
  width: 447px;
  height: 47px; }

.minute_top_li {
  width: 47px;
  height: 37px;
  border: 1px solid #f0f0f0;
  margin: 3px 3px 0;
  float: left;
  position: relative;
  cursor: pointer; }

.minute_top_li i {
  display: block; }

.minute_top_li s {
  display: block; }

.minute_top_i {
  width: 47px;
  height: 37px;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid #f60; }

.minute_top_s {
  width: 0;
  height: 0;
  position: absolute;
  left: 20px;
  top: -8px;
  border-bottom: 8px solid #f60;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; }

.minute_top_right {
  float: right;
  width: 543px;
  height: 500px; }

.minute_top_right h1 {
  width: 543px;
  border-bottom: 1px dashed #f0f0f0;
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  color: #111;
  font-weight: bold; }

.minute_top_txt {
  width: 533px;
  margin: 8px 5px 10px;
  font-size: 12px;
  color: #333;
  padding-bottom: 15px;
  border-bottom: 1px dashed #f0f0f0; }

.minute_top_txt li {
  line-height: 25px;
  color: #666;
  display: block; }

.minute_top_txt li strong {
  font-size: 18px;
  font-weight: 700;
  color: #d00;
  margin-right: 15px; }

.minute_top_size {
  background: #eee;
  width: 523px;
  padding: 10px; }

.minute_top_sizeli {
  overflow: hidden; }

.minute_top_sizeli span {
  display: block;
  width: 60px;
  text-align: right;
  height: 37px;
  line-height: 37px;
  float: left; }

.minute_top_sizeli i {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #ccc;
  background: #fff;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  margin-top: 7px; }

#goodsNum {
  display: inline-block;
  float: left;
  width: 18px;
  margin: 7px 7px 0 -1px;
  text-align: center; }

.minute_top_sizeli .minute_decrease, .minute_increase {
  cursor: pointer; }

.minute_top_button {
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px dashed #f0f0f0; }

.minute_top_button input {
  width: 133px;
  height: 40px;
  margin-right: 15px;
  float: left;
  background: url(//images.s.cn/themes/scn2012/images/skin/pro_detial_icon1.png) -3px -449px no-repeat;
  border: none; }

#minute_shop {
  width: 168px;
  background: url(//images.s.cn/themes/scn2012/images/skin/pro_detial_icon1.png) -3px -396px no-repeat; }

.sc_goodsPic {
  width: 80px;
  height: 80px;
  border: 1px solid #b6b6b6;
  float: left; }

.sc_goodsPic img {
  width: 100%;
  height: 100%; }

.sc_goodsTitle {
  line-height: 40px;
  color: #999;
  margin-left: 20px;
  float: left; }

.sc_goodsBtn {
  background: #fc1934;
  color: #fff;
  text-align: center;
  float: left;
  line-height: 30px;
  width: 60px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer; }

.sc_goodsNum {
  float: left;
  line-height: 30px;
  font-size: 10px;
  margin-left: 5px; }

.sc_right li {
  height: 100px; }
